<div class="container">
  <div class="login-container">
    <div class="login-header">
      <h2>Registro</h2>
      <p class="sub">Registrate para poder aprovechar al máximo todos tus productos</p>
    </div>
    <div class="login-form">
      <div class="form-control">
        <label class="label" for="username">Nombres</label>
        <input [(ngModel)]="nombres" type="text" placeholder="Juan" name="fullname">
        <div class="underline"></div>
      </div>
      <div class="form-control">
        <label class="label" for="username">Apellidos</label>
        <input [(ngModel)]="apellidos" type="text" placeholder="Pérez" name="lastname">
        <div class="underline"></div>
      </div>
      <div class="form-control">
        <label class="label" for="username">DNI</label>
        <sub>Sin guiones ni puntos</sub>
        <input [(ngModel)]="documento" type="number" placeholder="88.888.888" name="document">
        <div class="underline"></div>
      </div>
      <div class="form-control">
        <label class="label" for="username">Nombre de usuario</label>
        <input [(ngModel)]="usuario" type="text" placeholder="jperez" name="username">
        <div class="underline"></div>
      </div>
      <div class="form-control">
        <label class="label" for="password">Contraseña</label>
        <input [(ngModel)]="clave" type="password" placeholder="•••••••••" name="password">
        <div class="underline"></div>
      </div>
      <div class="login-info">
        <p>¿Ya tenés una cuenta? <a routerLink="/iniciar-sesion">Iniciar sesión</a></p>
      </div>
      <div class="form-control">
        <sub class="register-submit-info">Al registrarte, aceptas nuestro <a>Términos y Condiciones</a> así como nuestra <a>Política de privacidad</a></sub>
        <button type="button" (click)="attemptRegister()">Registrarme</button>
      </div>
    </div>
  </div>
</div>