<div class="header-container">
  <div class="header-brand">
    <a routerLink="">
      <img src="./assets/logo-app.svg" alt="Hastock logo">
    </a>
  </div>
  @if(authenticated) {
    <div class="header-menu">
      <ul>
        @if(rol.authority === "ROLE_ADMINISTRADOR") {
          <li><a routerLink="/lotes" routerLinkActive="active-link">Lotes</a></li>
          <li><a routerLink="/alta-lote" routerLinkActive="active-link">Generar lote</a></li>
          <li><a routerLink="/alta-articulo" routerLinkActive="active-link">Alta articulo</a></li>
          <li><a routerLink="/clientes" routerLinkActive="active-link">Clientes</a></li>
        }
        <li><a routerLink="/articulos" routerLinkActive="active-link">Articulos</a></li>
      </ul>
    </div>
    <div class="user-section">
      Iniciaste sesión como
      <br>
      {{ username }}
      <button (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
        Salir
      </button>
    </div>
  } @else {
    <div class="header-menu">
      <ul>
          <li><a routerLink="/iniciar-sesion" routerLinkActive="active-link">Iniciar sesión</a></li>
          <li><a routerLink="/registrarse" routerLinkActive="active-link">Registrarse</a></li>
      </ul>
    </div>
  }
</div>
<router-outlet></router-outlet>