<div class="alta-articulo-container">
  <div class="volver-atras-section">
    <button routerLink="/articulos">
      <i class="fa-solid fa-arrow-left"></i>
      Volver
    </button>
  </div>
  <div class="alta-articulo-header">
    <h2>Crear un nuevo artículo</h2>
    <p>Sigue los pasos de abajo para dar de alta un nuevo artículo</p>
  </div>
  <div class="alta-articulo-form">
    <div class="form-control">
      <label class="label" for="descripcion">Descripción del artículo</label>
      <sub>Intenta describirlo de manera concisa pero descriptiva</sub>
      <input
        [(ngModel)]="descripcion"
        type="descripcion"
        placeholder="iPhone 15 Pro Max 512 GB White"
        name="descripcion"
        required
      />
    </div>
    <div class="form-control">
      <label class="label" for="costo">Costo</label>
      <sub>Ingresa el precio que le costó a la empresa el artículo</sub>
      <input
        [(ngModel)]="costo"
        type="number"
        placeholder="1,000.00"
        name="costo"
        required
      />
    </div>
    <div class="form-control">
      <label class="label" for="precio-venta">Precio de venta</label>
      <sub>Ingresa el precio para los clientes</sub>
      <input
        [(ngModel)]="precioVenta"
        type="number"
        placeholder="1,760.00"
        name="precio-venta"
        required
      />
    </div>
    <div class="form-control">
      <button type="button" (click)="crearArticulo()">Crear</button>
    </div>
  </div>
</div>
