.volver-atras-section {
  margin: 20px 5px 10px;
}

.volver-atras-section button {
  padding: 5px 10px;
  width: 100px;
  font-size: 20px;
  border: none;
  background: #dadada;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.volver-atras-section button i,
.volver-atras-section button {
  font-weight: 600;
  color: #555;
}

.volver-atras-section button:hover {
  background: #d0d0d0;
}

.alta-lote-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.alta-lote-header {
  margin: 0 5px 10px;
  width: 100%;
}

.alta-lote-header p {
  font-weight: 600;
  color: #777;
}


.alta-lote-container .alta-lote-form {
  width: 30%;
}

.alta-lote-container .alta-lote-form .form-control {
  width: 100%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
}

.form-control .label {
  font-size: 22px;
  color: #666;
}

.form-control sub {
  margin-top: 10px;
  font-weight: 600;
  color: #87857e;
}

.form-control input, .form-control select {
  margin-top: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  outline: 0 none;
  padding-left: 15px;
  font-size: 25px;
  height: 45px;
  color: #777;
  font-weight: 300;
}

::placeholder {
  color: #999;
}

.form-control button {
  height: 55px;
  width: 100%;
  background: #1e6eca;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
}

.form-control button:hover {
  background: #144a88;
}

.login-info p {
  color: #888;
  font-size: 20px;
}

.form-control button:disabled {
  background: #72a1d6;
  cursor: not-allowed;
}

.form-advice {
  margin: 20px 0;
  background: #c7ae68;
  color: #503d07;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #b0964f;
}

.form-advice p {
  font-size: 23px;
  font-weight: bold;
}

.form-advice sub {
  font-size: 18px;
}

select:disabled {
  background: transparent;
}

select:disabled, input:disabled {
  cursor: not-allowed;
}