<div class="listado-compras-container">
  <div class="listado-header">
    <h2>Mis Compras</h2>
    <p>¡Tus compras en un solo lado!</p>
  </div>
  @if(ventas.length == 0) {
  <div class="empty-state-div">
    <img
      src="./assets/empty_state.png"
      alt="No hay elementos en la base de datos"
    />
    <p>¡Nada por aquí! Aparecera aqui las compras que hagas</p>
  </div>
  } @else { @for (venta of ventas; track $index) {
  <div class="item-compras">
    <sub class="id-compra">ID Compra: # {{venta.idVenta}}</sub>
    @for (item of venta.items; track $index) {
      <div class="item-venta">
        <h6>{{ item.articulo.descripcion }}</h6>
        <p>Cantidad: {{ item.cantidad }} u.</p>
      </div>
    }
    <p>Fecha: {{ venta.fechaVenta | date : "dd/MM/yyyy" }}</p>
    <p class="total-p">Total: {{ venta.precioFinal | currency : "USD" : "symbol" }}</p>
  </div>
  } }
</div>
