.empty-state-div {
  padding: 30px 20px;
  background: #fff;
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-radius: 5px;
}

.empty-state-div img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.empty-state-div p {
  font-weight: 600;
  color: #555;
}

.listado-clientes-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.listado-header {
  margin: 20px 5px 30px;
  width: 100%;
}

.listado-header p {
  font-weight: 600;
  color: #777;
}

.grilla-clientes {
  flex-grow: 1;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 15px;
  border: none;
  text-align: left;
}

th {
  background-color: #4993e8;
  color: #fff;
  font-weight: 600;
  height: 70px;
}

tr {
  font-weight: 600;
  color: #444;
  background: #fff;
}

tr:nth-child(even) {
  background-color: #d5e5f7;
}

.fila-usuario td {
  vertical-align: middle;
}

.fila-usuario .id-usuario {
  font-weight: bold;
}

.fila-usuario .apellidos,
.fila-usuario .nombres {
  color: #333;
}

.fila-usuario .dni,
.fila-usuario .usuario {
  color: #666;
}

td.accion button {
  border: none;
  background: #d8ab3f;
  color: #7b5c14;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
}

td.accion button:hover {
  background: #b99136;
}
