.listado-clientes-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.listado-header {
  margin: 20px 5px 30px;
  width: 100%;
}

.listado-header p {
  font-weight: 600;
  color: #777;
}

.grilla-clientes {
  flex-grow: 1;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
  border: none;
  text-align: left;
}

th {
  background-color: #1e6eca;
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.fila-usuario td {
  vertical-align: middle;
}

.fila-usuario .id-usuario {
  font-weight: bold;
}

.fila-usuario .apellidos,
.fila-usuario .nombres {
  color: #333;
}

.fila-usuario .dni,
.fila-usuario .usuario {
  color: #666;
}