.empty-state-div {
  padding: 30px 20px;
  background: #fff;
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border-radius: 5px;
}

.empty-state-div img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.empty-state-div p {
  font-weight: 600;
  color: #555;
}

.listado-articulos-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.listado-header {
  margin: 20px 5px 30px;
  width: 100%;
}

.listado-header p {
  font-weight: 600;
  color: #777;
}

.acciones-section {
  margin-top: 10px;
}

.listado-header .acciones-section button {
  width: 150px;
  margin: 10px 0 5px;
  background: #1e6eca;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 600;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.listado-header .acciones-section button:hover {
  background: #185aa4;
}

.articulo-item {
  width: 300px;
  background: #fff;
  margin: 10px;
  border-radius: 3px;
  user-select: none;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.articulo-item .articulo-header {
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.articulo-header img {
  -webkit-user-drag: none;
}

.articulo-item .articulo-body {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  flex-grow: 1;
}

.articulo-item .desactivado {
  height: 300px;
}

.articulo-item .articulo-body .descripcion-articulo {
  overflow: hidden;
}

.articulo-item .articulo-body .descripcion-articulo h6 {
  font-size: 22px;
  text-overflow: clip;
}

.articulo-body p {
  font-size: 20px;
}

.comprar-section {
  margin-top: auto;
  width: 100%;
}

.envio-section {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.comprar-section .envio-section i {
  margin-right: 5px;
}

.comprar-section .envio-section sub,
.comprar-section .envio-section i {
  color: #47883d;
  font-weight: 600;
}

button.buy-button {
  width: 100%;
  margin: 10px 0 5px;
  background: #fac649;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 2px;
  font-weight: 600;
  color: #815d0b;
  border-radius: 3px;
  cursor: pointer;
}

button.buy-button:hover {
  background: #d1a53d;
}

sub {
  font-weight: 600;
  color: #666;
}

.editar-articulo-section button {
  width: 100%;
  margin: 10px 0 5px;
  background: #ddd;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 2px;
  font-weight: 600;
  color: #555;
  border-radius: 3px;
  cursor: pointer;
}

.editar-articulo-section button:hover {
  background: #bbb;
}

.eliminar-articulo-section button {
  width: 100%;
  margin: 10px 0 5px;
  background: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 2px;
  font-weight: 600;
  color: #e12626;
  border-radius: 3px;
  cursor: pointer;
}

.eliminar-articulo-section button:hover {
  background: #ddd;
}

.listado-header .acciones-section button.limpiar-carrito-btn {
  margin-left: 10px;
  background: transparent;
  color: #e12626;
}

.listado-header .acciones-section button.limpiar-carrito-btn:hover {
  background: #c0c0c0;
}
