<div class="listado-articulos-container">
  <div class="listado-header">
    <h2>Articulos disponibles</h2>
    <p>Echa un vistazo a todos nuestros artículos disponibles para la venta</p>
    
    @if(rol.authority == "ROLE_ADMINISTRADOR") {
      <div class="acciones-section">
        <button class="nuevo-art" routerLink="/alta-articulo">
          <i class="fa-solid fa-plus"></i>
          Nuevo artículo
        </button>
      </div>
    }
  </div>
  @if(articulos.length == 0 || ningunArticuloActivo) {
    <div class="empty-state-div">
      <img src="./assets/empty_state.png" alt="No hay elementos en la base de datos">
      <p>¡Nada por aquí! Prueba a cargar algunos artículos</p>
    </div>
  } @else {
    @for (articulo of articulos; track $index) {
      @if(articulo.activo) {
        <div class="articulo-item">
          <div class="articulo-header">
            <img src="./assets/product.png" alt="Product icon">
          </div>
          <div class="articulo-body">
            <sub>ID de art. #{{articulo.idArticulo}}</sub>
            <div class="descripcion-articulo">
              <h6>{{articulo.descripcion}}</h6>
            </div>
            <div class="comprar-section">
              <p>{{articulo.precioVenta | currency: 'USD' : 'symbol'}}</p>
              <div class="envio-section">
                <i class="fa-solid fa-truck-fast"></i>
                <sub>Envío gratis</sub>
              </div>
              <button routerLink="/comprar/{{articulo.idArticulo}}" class="buy-button">Comprar</button>
              @if (rol.authority == "ROLE_ADMINISTRADOR") {
                <div class="editar-articulo-section">
                  <button routerLink="/editar-articulo/{{articulo.idArticulo}}">Editar</button>
                </div>
                <div class="eliminar-articulo-section">
                  <button (click)="eliminarArticulo(articulo.idArticulo)">Eliminar</button>
                </div>
              }
            </div>
          </div>
        </div>
      }
    }
  }
</div>