<div class="listado-articulos-container">
  <div class="listado-header">
    <h2>Articulos disponibles</h2>
    <p>Echa un vistazo a todos nuestros artículos disponibles para la venta</p>
  </div>
  @for (articulo of articulos; track $index) {
    <div class="articulo-item">
      <div class="articulo-header">
        <img src="./assets/product.png" alt="Product icon">
      </div>
      <div class="articulo-body">
        <sub>ID de art. #{{articulo.idArticulo}}</sub>
        <div class="descripcion-articulo">
          <h6>{{articulo.descripcion}}</h6>
        </div>
        <div class="comprar-section">
          <p>U$S {{articulo.precioVenta}}</p>
          <sub>Envío gratis</sub>
          <button class="buy-button">Comprar</button>
        </div>
      </div>
    </div>
  }
</div>